﻿@page "/"

<style>
    .uniform-size {
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .log-height {
        height: 25em;
    }
</style>
@using using System.Collections.Concurrent;
@using System.Net;
@using System.Net.Sockets;
@using System.Text;
@using System;
@using System.Runtime.InteropServices;
@using  System.Text.RegularExpressions;
@code{
    public static bool DEBUG = true;
    private static readonly IPAddress LOCAL_ADDRESS = new IPAddress(new byte[] { 192, 168, 10, 150 });
    private static readonly IPAddress REMOTE_ADDRESS = new IPAddress(new byte[] { 192, 168, 10, 177 });
    private static readonly int SEND_PORT = 8888;
    private static readonly int RECEIVE_PORT = 8887;

    public static readonly int DISTANCE_MIN = 200;
    public static readonly int DISTANCE_MAX = 750;
    public static readonly int PRESSURE_MIN = 0;
    public static readonly int PRESSURE_MAX = 200;
    public static readonly string SIGNAL_PUSH_BUTTON = "A";
    public static readonly string SIGNAL_RELEASE_BUTTON = "@";


    public enum ByteOneStates : byte
    {
        DriveForward = 1,
        DriveBackward = 2,
        LogLifterUp = 4,
        LogLifterDown = 8,
        CrossConveyorForward = 16,
    }

    public enum ByteTwoStates : byte
    {
        CrossConveyorBackward = 1,
        CloseClampSaw = 2,
        OpenClampLiftSaw = 4,
        Saw = 8,
    }

    public enum ByteThreeStates : byte
    {
        CycleTime = 1,
    }

    public enum LightName
    {
        CrossConveyorForward,
        CrossConveyorBackward,
        LogLifterUp,
        LogLifterDown,
        OpenClampOrLiftSaw,
        CloseClampOrRunSaw,
        Saw,
        DriveForward,
        DriveBackward,
    }

    public enum LightState
    {
        Off,
        On,
    }

    public enum RegularButtonState
    {
        NotPressed,
        Pressed,
    }

    public enum CutLengthState
    {
        Length25,
        Length33,
        Length55,
    }


    public struct Telegram
    {
        public byte b0;
        public byte b1;
        public byte b2;
        public byte b3;
        public float f1;
        public float f2;
    }

    public class ListenerSender : IDisposable
    {
        bool isAlive = true;
        UdpClient client;
        IPEndPoint endPoint;
        public ListenerSender(IPAddress localAddress, IPAddress remoteAddress, int send_port, int receive_port)
        {
            endPoint = new IPEndPoint(localAddress, receive_port);
            var client = new UdpClient(endPoint);
            this.client = client;
            client.Connect(remoteAddress, send_port);
        }

        public async void SendMessage(string message)
        {
            var bytes = Encoding.ASCII.GetBytes(message);
            await client.SendAsync(bytes, bytes.Length);
        }



        public void HandleTelegram(Action<byte[]> telegramBytesAction)
        {
            Task.Run(async ()=>{
                while(isAlive){
                    try
                    {
                        while (isAlive)
                        {
                            byte[] telegramBytes = client.Receive(ref endPoint);
                            Task.Run(async ()=>{
                                telegramBytesAction(telegramBytes);
                            });
                        }
                    }
                    catch (SocketException e)
                    {
                        Console.WriteLine(e);
                    }
                }
            });
        }

        public void Dispose()
        {
            this.isAlive = false;
            this.client.Close();
        }
    }

    public class LightIndicator
    {
        public string name;
        public LightState state;

        public LightIndicator(string name)
        {
            this.name = name;
        }

        public string GetClassName() =>
        state switch
        {
            LightState.Off => "bg-light",
            LightState.On => "bg-danger",
        };
    }


    public class ButtonState<T>
    {
        public T state;
    }

    public interface IButtonController
    {
        string Name();
        bool IsActive();
        void MouseDown();
        void MouseUp();
        bool IsToggleable();
    }

    public class ButtonController<T> : IButtonController
    {
        private string name;
        private ButtonState<T> buttonState;
        private Func<bool> isActive;
        private Action mouseDown;
        private Action mouseUp;
        private bool isToggleable;
        private string pressSignal;
        private string releaseSignal;

        public ButtonController(string name, string pressSignal, string releaseSignal, ButtonState<T> buttonState, Func<bool> isActive, Action mouseDown, Action mouseUp, bool isToggleable)
        {
            this.name = name;
            this.pressSignal = pressSignal;
            this.releaseSignal = releaseSignal;
            this.buttonState = buttonState;
            this.isActive = isActive;
            this.mouseDown = mouseDown;
            this.mouseUp = mouseUp;
            this.isToggleable = isToggleable;
        }

        public string Name() => this.name;
        public bool IsActive() => this.isActive();
        public void MouseDown() => this.mouseDown();
        public void MouseUp() => this.mouseUp();
        public bool IsToggleable() => this.isToggleable;
    }



    public struct Message
    {
        public DateTime time;
        public string text;

        public Message(DateTime time, string text)
        {
            this.time = time;
            this.text = text;
        }
    }


    public class MessageLog
    {
        private BlockingCollection<Message> _messages;
        public Message[] Messages => _messages.ToArray();

        public MessageLog(){
            _messages = new BlockingCollection<Message>();
        }

        public void AddMessage(string message)
        {
            _messages.Add(message);
        }

        public void ClearMessages()
        {
            _messages.Clear();
        }
    }


    public class Application : IDisposable
    {
        //TODO: Try to get rid of this static value.
        public static readonly ListenerSender listener_sender = new ListenerSender(LOCAL_ADDRESS, REMOTE_ADDRESS, SEND_PORT, RECEIVE_PORT);

        public readonly MessageLog logMessages;
        public readonly MessageLog debugLogMessages;

        private readonly LightIndicator li_crossConveyorForward;
        private readonly LightIndicator li_crossConveyorBackward;
        private readonly LightIndicator li_logLifterUp;
        private readonly LightIndicator li_logLifterDown;
        private readonly LightIndicator li_openClampOrLiftSaw;
        private readonly LightIndicator li_closeClampOrRunSaw;
        private readonly LightIndicator li_saw;
        private readonly LightIndicator li_driveForward;
        private readonly LightIndicator li_driveBackward;

        public readonly LightIndicator[] lightIndicators;
        public readonly ButtonController<RegularButtonState> btn_autoStart;
        public readonly ButtonController<RegularButtonState> btn_autoPause;
        public readonly (ButtonController<CutLengthState> button25, ButtonController<CutLengthState> button33, ButtonController<CutLengthState> button55) btns_cutLength;
        public readonly ButtonController<RegularButtonState> btn_crossConveyor;
        public readonly ButtonController<RegularButtonState> btn_logLifterUp;
        public readonly ButtonController<RegularButtonState> btn_logLifterDown;
        public readonly ButtonController<RegularButtonState> btn_saw;
        public readonly ButtonController<RegularButtonState> btn_closeClamp;
        public readonly ButtonController<RegularButtonState> btn_driveForward;
        public readonly ButtonController<RegularButtonState> btn_driveBackward;

        private int _distance = DISTANCE_MIN;
        public int Distance
        {
            get => _distance;
            set
            {
                _distance = value;
                var message = $"ZA{PadIntegerTo4Characters(_distance)}";
                listener_sender.SendMessage(message);
            }
        }
        private int _pressure = PRESSURE_MIN;
        public int Pressure
        {
            get => _pressure;
            set
            {
                _pressure = value;
                var message = $"ZB{PadIntegerTo4Characters(_pressure)}";
                listener_sender.SendMessage(message);
            }
        }
        public int motorSpeedValue = 0;
        public int cycleTimeValue = 0;
        public readonly ButtonController<RegularButtonState> btn_proximitySensorSaw;
        public readonly ButtonController<RegularButtonState> btn_lightBarrierSaw;
        public readonly ButtonController<RegularButtonState> btn_lightBarrierSplit;


        public Application(Action updateCallback)
        {
            logMessages = new MessageLog();
            debugLogMessages = new MessageLog();


            li_crossConveyorForward = new LightIndicator("Cross Conveyor Forward");
            li_crossConveyorBackward = new LightIndicator("Cross Conveyor Backward");
            li_logLifterUp = new LightIndicator("Log Lifter Up");
            li_logLifterDown = new LightIndicator("Log Lifter Down");
            li_openClampOrLiftSaw = new LightIndicator("Open Clamp / Lift Saw");
            li_closeClampOrRunSaw = new LightIndicator("Close Clamp / Run Saw");
            li_saw = new LightIndicator("Saw");
            li_driveForward = new LightIndicator("Drive Forward");
            li_driveBackward = new LightIndicator("Drive Backward");

            lightIndicators = new[]
            {
                li_crossConveyorForward,
                li_crossConveyorBackward,
                li_logLifterUp,
                li_logLifterDown,
                li_openClampOrLiftSaw,
                li_closeClampOrRunSaw,
                li_saw,
                li_driveForward,
                li_driveBackward,
            };

            btn_autoStart = CreateRegularButtonController("Auto Start", "A");
            btn_autoPause = CreateRegularButtonController("Auto Pause", "B");
            btn_crossConveyor = CreateRegularButtonController("Cross Conveyor", "E");
            btn_logLifterUp = CreateRegularButtonController("Log Lifter Up", "F");
            btn_logLifterDown = CreateRegularButtonController("Log Lifter Down", "G");
            btn_saw = CreateRegularButtonController("Saw", "H");
            btn_closeClamp = CreateRegularButtonController("Close Clamp", "I");
            btn_driveForward = CreateRegularButtonController("Drive Forward", "J");
            btn_driveBackward = CreateRegularButtonController("Drive Backward", "K");

            var btn_cutLength = new ButtonState<CutLengthState>();
            //btn_25 is a special case because it does not have a dedicated code. "Releasing" btn_33 orr btn_55 makes the machine default to cut length 25.
            var btn_25 = CreateCutLengthButtonController("25", $"C{SIGNAL_RELEASE_BUTTON}", $"C{SIGNAL_RELEASE_BUTTON}", btn_cutLength, CutLengthState.Length25);
            var btn_33 = CreateCutLengthButtonController("33", $"C{SIGNAL_PUSH_BUTTON}", $"C{SIGNAL_RELEASE_BUTTON}", btn_cutLength, CutLengthState.Length33);
            var btn_55 = CreateCutLengthButtonController("55", $"D{SIGNAL_PUSH_BUTTON}", $"D{SIGNAL_RELEASE_BUTTON}", btn_cutLength, CutLengthState.Length55);
            btns_cutLength = (btn_25, btn_33, btn_55);

            btn_proximitySensorSaw = CreateRegularButtonController("PS Saw", "L");
            btn_lightBarrierSaw = CreateRegularButtonController("LB Saw", "M");
            btn_lightBarrierSplit = CreateRegularButtonController("LB Split", "N");



            listener_sender.HandleTelegram(telegramBytes =>
            {
                var firstByte = telegramBytes[0];
                var isLog = firstByte == 35;
                var isDLog = firstByte == 120;
                if (isLog || isDLog)
                {
                    var relevantBytes = telegramBytes.Skip(1).ToArray();
                    var telegramAsString = Encoding.ASCII.GetString(relevantBytes);
                    if (isLog)
                    {
                        logMessages.AddMessage(telegramAsString);
                    }
                    else
                    {
                        debugLogMessages.AddMessage(telegramAsString);
                    }
                }
                else if (firstByte == 64)
                {
                    var bytesCopy = telegramBytes.Clone() as byte[];
                    GCHandle pinnedBytes = GCHandle.Alloc(bytesCopy, GCHandleType.Pinned);
                    IntPtr pointer = pinnedBytes.AddrOfPinnedObject();
                    Telegram telegram = Marshal.PtrToStructure<Telegram>(pointer);

                    bool ContainsBit(byte b, int enumMask)
                    {
                        return ((b & enumMask) == enumMask);
                    }

                    LightState ToLightState(byte b, int enumMask)
                    {
                        return ContainsBit(b, enumMask) ? LightState.On : LightState.Off;
                    }

                    {
                        var driveForwardValue = ToLightState(telegram.b1, (int)ByteOneStates.DriveForward);
                        li_driveForward.state = driveForwardValue;
                    }
                    {
                        var driveBackwardValue = ToLightState(telegram.b1, (int)ByteOneStates.DriveBackward);
                        li_driveBackward.state = driveBackwardValue;
                    }
                    {
                        var logLifterUpValue = ToLightState(telegram.b1, (int)ByteOneStates.LogLifterUp);
                        li_logLifterUp.state = logLifterUpValue;
                    }
                    {
                        var logLifterDownValue = ToLightState(telegram.b1, (int)ByteOneStates.LogLifterDown);
                        li_logLifterDown.state = logLifterDownValue;
                    }
                    {
                        var crossConveyorForwardValue = ToLightState(telegram.b1, (int)ByteOneStates.CrossConveyorForward);
                        li_crossConveyorForward.state = crossConveyorForwardValue;
                    }
                    {
                        var crossConveyorBackwardValue = ToLightState(telegram.b2, (int)ByteTwoStates.CrossConveyorBackward);
                        li_crossConveyorBackward.state = crossConveyorBackwardValue;
                    }
                    {
                        var closeClampSawValue = ToLightState(telegram.b2, (int)ByteTwoStates.CloseClampSaw);
                        li_closeClampOrRunSaw.state = closeClampSawValue;
                    }
                    {
                        var openClampLiftSawValue = ToLightState(telegram.b2, (int)ByteTwoStates.OpenClampLiftSaw);
                        li_openClampOrLiftSaw.state = openClampLiftSawValue;
                    }
                    {
                        var sawValue = ToLightState(telegram.b2, (int)ByteTwoStates.Saw);
                        li_saw.state = sawValue;
                    }

                    cycleTimeValue = telegram.b3;
                    _distance = (int)telegram.f1;
                    motorSpeedValue = (int)telegram.f2;

                    pinnedBytes.Free();
                }
                else
                {
                    var bytesAsString = $"[{string.Join(", ", telegramBytes)}]";
                    Console.WriteLine("Received something undefined:" + bytesAsString);
                }
                updateCallback();
            });
        }


        public void ResetValues()
        {

        }

        public void DEBUG_RandomLights()
        {
            var random = new Random();
            var lightIndicatorNumber = Enum.GetNames(typeof(LightState)).Length;
            foreach (var lightIndicator in lightIndicators)
            {
                lightIndicator.state = (LightState)random.Next(0, lightIndicatorNumber);
            }
        }

        public ButtonController<RegularButtonState> CreateRegularButtonController(string name, string markerSignal)
        {
            var pushSignal = markerSignal + SIGNAL_PUSH_BUTTON;
            var releaseSignal = markerSignal + SIGNAL_RELEASE_BUTTON;
            var buttonState = new ButtonState<RegularButtonState>
            ();
            var buttonController = new ButtonController<RegularButtonState>(name,
                pushSignal,
                releaseSignal,
                buttonState,
                () => buttonState.state == RegularButtonState.Pressed,
                () =>
                {
                    buttonState.state = RegularButtonState.Pressed;
                    listener_sender.SendMessage(pushSignal);
                },
                () =>
                {
                    buttonState.state = RegularButtonState.NotPressed;
                    listener_sender.SendMessage(releaseSignal);
                },
                true);
            return buttonController;
        }

        public ButtonController<CutLengthState> CreateCutLengthButtonController(string name, string pressSignal, string releaseSignal, ButtonState<CutLengthState> buttonState, CutLengthState cutLength)
        {
            var buttonController = new ButtonController<CutLengthState>(name,
                pressSignal,
                releaseSignal,
                buttonState,
                () => buttonState.state == cutLength,
                () =>
                {
                    buttonState.state = cutLength;
                    listener_sender.SendMessage(pressSignal);
                },
                () =>
                {
                    listener_sender.SendMessage(releaseSignal);
                },
                false);
            return buttonController;
        }

        public void Dispose()
        {
            listener_sender.Dispose();
        }
    }
}

@functions {
    static readonly Regex regex = regex = new Regex(@"\w+");
    static string ToKebabCase(string input)
    {
        var lowerCase = input.ToLower();
        var splitString = regex.Matches(lowerCase).Select(m => m.Value).ToArray();
        var kebabCase = String.Join('-', splitString);
        return kebabCase;
    }

    static string GetActiveClass(bool predicate) => predicate ? "active" : "";

    static string PadIntegerTo4Characters(int integer)
    {
        var integerAsString = integer.ToString();
        var integerPadded = integerAsString.PadLeft(4, '0');
        return integerPadded;
    }

    void StateChanged()
    {
        InvokeAsync(StateHasChanged);
    }


}
@code {

    public Application application = null;

    protected override void OnInitialized()
    {
        application = new Application(() => InvokeAsync(StateHasChanged));
    }

}

@{
    void RenderButton(IButtonController buttonController, string buttonClass, string buttonLabel = "")
    {
        var kebabCaseName = ToKebabCase(buttonController.Name());
        var active = buttonController.IsActive();
        var activeClass = GetActiveClass(active);
        var boldClass = buttonController.IsActive() ? "font-weight-bold" : "";
        var toggleable = buttonController.IsToggleable();
        <div class="d-flex flex-column align-items-center justify-content-center mt-2">
            <label class="m-0 @boldClass">@buttonController.Name()</label>
            <div class="d-flex">
                @if (toggleable)
                {
                    <button @onmousedown="buttonController.MouseDown" @onmouseup="buttonController.MouseUp" class="btn @buttonClass rounded-circle @activeClass uniform-size">
                        @buttonLabel
                    </button>
                    Action clickAction = active
                        ? buttonController.MouseUp
                        : buttonController.MouseDown;
                    <div class="mx-1"></div>
                    <button @onclick="clickAction" id="@kebabCaseName" class="btn @buttonClass rounded-circle @activeClass uniform-size">∞</button>
                }
                else
                {
                    <button @onclick="buttonController.MouseDown" class="btn @buttonClass rounded-circle @activeClass uniform-size">
                        @buttonLabel
                    </button>
                }
            </div>
        </div>
    }

    void RenderLog(string title, MessageLog messageLog)
    {
        <div class="card h-100">
            <div class="card-header">@title</div>
            <div class="card-body overflow-auto log-height">
                @foreach (var logMessage in messageLog.Messages)
                {
                    <div>
                        <span class="text-info">@logMessage.time</span>
                        <span>@logMessage.text</span>
                    </div>
                }
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-secondary" @onclick="messageLog.ClearMessages">Clear Log</button>
                @if (DEBUG)
                {
                    var message = "You rule.";
                    <button class="btn btn-outline-secondary" @onclick="()=>messageLog.AddMessage(message)">add log message</button>
                }
            </div>
        </div>
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            @foreach (var lightState in application.lightIndicators)
            {
                <div class="d-flex align-items-center mt-2">
                    <div class="d-block flex-grow-0 badge @lightState.GetClassName() border uniform-size"></div>
                    <div class="flex-shrink-1 mx-1"></div>
                    <span>@lightState.name</span>
                </div>
            }
            @if (DEBUG)
            {
                <button @onclick="application.DEBUG_RandomLights">random lights</button>
            }
        </div>

        <div class="col-lg-3">
            <div class="row">
                <div class="col-6">
                    @{
                        RenderButton(application.btn_autoStart, "btn-outline-success", "○");
                    }
                </div>
                <div class="col-6">
                    @{
                        RenderButton(application.btn_autoPause, "btn-outline-danger", "|");
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            @{
                                RenderButton(application.btns_cutLength.button25, "btn-outline-dark");
                            }
                        </div>
                        <div class="col-4">
                            @{
                                RenderButton(application.btns_cutLength.button33, "btn-outline-dark");
                            }
                        </div>
                        <div class="col-4">
                            @{
                                RenderButton(application.btns_cutLength.button55, "btn-outline-dark");
                            }
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    @{
                        RenderButton(application.btn_crossConveyor, "btn-outline-primary");
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @{
                        RenderButton(application.btn_logLifterUp, "btn-outline-primary");
                    }
                </div>
                <div class="col-6">
                    @{
                        RenderButton(application.btn_logLifterDown, "btn-outline-primary");
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @{
                        RenderButton(application.btn_saw, "btn-outline-primary");
                    }
                </div>
                <div class="col-6">
                    @{
                        RenderButton(application.btn_closeClamp, "btn-outline-primary");
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @{
                        RenderButton(application.btn_driveForward, "btn-outline-primary");
                    }
                </div>
                <div class="col-6">
                    @{
                        RenderButton(application.btn_driveBackward, "btn-outline-primary");
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-7" style="min-height: 12em;">
            <div class="row h-100">
                <div class="col-7">
                    @{
                        RenderLog("Log", application.logMessages);
                    }
                </div>
                <div class="col-5">
                    @{
                        RenderLog("D-Log", application.debugLogMessages);
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <label for="distance">Distance</label>
                </div>
                <div class="col-8">
                    <input type="range" class="custom-range" min="@DISTANCE_MIN" max="@DISTANCE_MAX" @bind-value="application.Distance">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" id="distance" min="@DISTANCE_MIN" max="@DISTANCE_MAX" @bind-value="application.Distance" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="pressure">Pressure</label>
                </div>
                <div class="col-8">
                    <input type="range" class="custom-range" min="@PRESSURE_MIN" max="@PRESSURE_MAX" @bind-value="application.Pressure">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" id="pressure" min="@PRESSURE_MIN" max="@PRESSURE_MAX" @bind-value="application.Pressure" />
                </div>
                <div class="col-2">
                    <div class="btn-group">
                        @{
                            var pressureMinActiveClass = GetActiveClass(application.Pressure == PRESSURE_MIN);
                            var pressureMaxActiveClass = GetActiveClass(application.Pressure == PRESSURE_MAX);
                        }
                        <button @onclick="()=>application.Pressure=PRESSURE_MIN" class="btn btn-outline-secondary @pressureMinActiveClass">@PRESSURE_MIN</button>
                        <button @onclick="()=>application.Pressure=PRESSURE_MAX" class="btn btn-outline-secondary @pressureMaxActiveClass">@PRESSURE_MAX</button>
                        <button @onmousedown="()=>application.Pressure=PRESSURE_MAX" @onmouseup="()=>application.Pressure=PRESSURE_MIN" class="btn btn-outline-secondary">@PRESSURE_MAX→@PRESSURE_MIN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <span class="font-weight-bold">Light Barrier</span>
                </div>
                <div class="col-6">
                    @{
                        RenderButton(application.btn_lightBarrierSaw, "btn-outline-dark");
                    }
                </div>
                <div class="col-6">
                    @{
                        RenderButton(application.btn_lightBarrierSplit, "btn-outline-dark");
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <span class="font-weight-bold">Proximity Sensor</span>
                </div>
                <div class="col-12">
                    @{
                        RenderButton(application.btn_proximitySensorSaw, "btn-outline-dark");
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <span class="font-weight-bold">Motor Speed</span>
                    <span class="form-control">@application.motorSpeedValue</span>
                </div>
                <div class="col">
                    <span class="font-weight-bold">Cycle Time</span>
                    <span class="form-control">@application.cycleTimeValue</span>
                </div>
            </div>
        </div>
    </div>
</div>

